<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>目前時間:{{x}}</h1>
    <p>
        Lorem 魔術字體Lorem10 Lorem20 Lorem30
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Eos, ex modi ea cumque eaque at. In ducimus voluptatibus accusamus!
        Vitae nulla fugit quam dolorum quidem maiores beatae perspiciatis cum et!
    </p>
    <a href="/bmi" target="_blank">BMI</a>
    <a href="/books" target="_blank">書籍資料</a>
    <a href="pm25" target="_blank">PM2.5資料</a>

    <script>
        // const h1Element = document.querySelector("h1")
        // console.log(h1Element)
        // h1Element.innerHTML = "<h2>測試!</h2>"

        // $("h1").text("123")
        // $("h1").html("<h2>~123~</h2>")
        // $("h1").css("color", "red")

    </script>
</body>

</html>