<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
</head>

<body>
    <h1>PM2.5數據圖</h1>
    最高:{{highest[0]}} <span class="highest">{{highest[1]}}</span>
    最低:{{lowest[0]}} <span class="lowest">{{lowest[1]}}</span>
    <hr>
    <div id="main" style="width: 600px;height:400px; background-color: rgb(255, 251, 31);"></div>
    <div id="six-county" style="width: 600px;height:400px; background-color: rgb(110, 240, 245);"></div>
    <select name="selectCounty" id="selectCounty">
        {% for county in countys %}
        <option value="{{county}}">{{county}}</option>
        {% endfor %}
    </select>

    <div id="county" style="width: 600px;height:400px; background-color: rgb(102, 243, 121);"></div>
    <!--  使用ajax進行資料取得後繪製 -->
    <script src="../static/js/pm25-chart.js">
    </script>
</body>

</html>